@font-face {
  font-family: "WagonBold";
  src: url("../assets/Wagon-Bold.otf");
}

.main-navbar {
  width: 100%;
}

.navbar-main {
  height: 150px;
  width: 100%;
}

.navbar {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 20px;
}

.hamButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  top: 55px;
  position: fixed;
  z-index: 1000;
}

.hamButtonMain {
  padding: 13px;
  font-size: 17px;
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 20px;
  margin-right: 24px;
}

.lines {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line1,
.line2 {
  width: 90%;
  height: 2px;
  background-color: black;
  border-radius: 20px;
  transition: all 0.2s ease;
  position: relative;
}

.line1.active {
  transform: rotate(45deg);
  top: 8px;
  background-color: white;
}

.line2.active {
  transform: rotate(-45deg);
  top: -8px;
  background-color: white;
}

.menu-item {
  overflow: hidden;
  text-align: center;
}

.menu {
  width: 100%;
  height: 100%;
  z-index: 100;
  background: black;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}
.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 120px;
  position: relative;
  font-family: "WagonBold", sans-serif;
  transition: transform 0.7s ease;
}

