@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.main-team {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.team {
  max-width: 1200px;
  margin: 0 auto;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.img img {
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 30px;
}

.name h1,
.age h1 {
  font-size: 1.2em;
  margin: 10px 0;
}
